extends ../layout/main

block variables
  - const title = 'gulp template';
  - const description = 'gulp start template';
  - const keywords = 'gulp, pug, template';
  - const href = 'css/style.min.css';

block content
  h1 Page template

  // include ../blocks/block.pug

block scripts
  script(src='js/index.min.js')
