$mediaWidthMobile: 320px;
$mediaWidthTablet: 768px;
$mediaWidthTabletHorizontal: 1024px;
$mediaWidthLaptop: 1366px;

$primary-font: "Roboto", "Helvetica", sans-serif;
$primary-color: #000000;

$bg-white: #ffffff;
